{
  presets: [
    ['@babel/preset-env', {
      targets: {
        browsers: ['last 2 versions'],
      },
      useBuiltIns: false,
    }],
    "mobx",
  ],
  "plugins": ["@babel/plugin-transform-runtime"]
}
