.DS_Store
*.swp
.npm-packages
.npmrc
yarn.lock
npm-debug.log
node_modules
Data
dist/
coverage/
test/output.html
test/TESTS-*.xml
test/testUINoPlaneSlidersBundle.js

src/Compression/blosc-zarr/web-build/*
!src/Compression/blosc-zarr/web-build/BloscZarr.js
!src/Compression/blosc-zarr/web-build/BloscZarr.umd.js
!src/Compression/blosc-zarr/web-build/BloscZarr.wasm
test/data/
