.DS_Store
*.swp
.npm-packages
.npmrc
yarn.lock
npm-debug.log
node_modules
Data
dist/
coverage/
test/output.html
test/TESTS-*.xml
test/testUINoPlaneSlidersBundle.js

src/IO/Downsample/web-build/.ninja_deps
src/IO/Downsample/web-build/.ninja_log
src/IO/Downsample/web-build/CMakeCache.txt
src/IO/Downsample/web-build/CMakeFiles/
src/IO/Downsample/web-build/CTestTestfile.cmake
src/IO/Downsample/web-build/Downsample.umd.wasm
src/IO/Downsample/web-build/DownsampleLabelImage.umd.wasm
src/IO/Downsample/web-build/ITKFactoryRegistration/
src/IO/Downsample/web-build/build.ninja
src/IO/Downsample/web-build/cmake_install.cmake
src/IO/Downsample/web-build/itk-wasm-build-env

src/Compression/blosc-zarr/web-build/*
!src/Compression/blosc-zarr/web-build/BloscZarr.js
!src/Compression/blosc-zarr/web-build/BloscZarr.umd.js
!src/Compression/blosc-zarr/web-build/BloscZarr.wasm
test/data/
