.DS_Store
.gitmodules
.npmrc
.sass-cache
.travis.yml
doc
npm-debug.log
src/UI/reference-ui/node_modules
src/Compression/blosc-zarr
test
src/Compression/blosc-zarr/web-build
src/IO/Downsample/web-build
