layout: index
description: ITK/VTK Image Viewer
subtitle: Load your data with itk.js and Visualize it with vtk.js
cmd: ItkVtkImageViewer --help
comments: false
---

ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-download
      h3.intro-feature-title
        a(href="https://www.npmjs.com/package/itk-vtk-image-viewer").link Releases
        img(style="padding-left: 25px",src="https://badge.fury.io/js/itk-vtk-image-viewer.svg")
      p.intro-feature-desc ITK/VTK Image Viewer is a Web based viewer for loading 2D/3D images and more...

  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
          i.fa.fa-life-ring
      h3.intro-feature-title
        a(href="http://www.vtk.org/services/").link Support and Services
      p.intro-feature-desc Kitware offers advanced software R&D solutions and services. Find out how we can help with your next project.

ul#intro-cmd-wrap(style='margin-top: 25px;border-radius: 10px;')
  li.intro-cmd-item npm install itk-vtk-image-viewer -g
  li.intro-cmd-item ItkVtkImageViewer -p

p(style='text-align: center; margin: 20px auto; max-width: 700px;')
  img(src='./docs/howToUse.jpg', width='100%')
